<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proifle Management Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='profileManagementStyle.css') }}">
    </head>
    <body>
        <form action="" method="POST">
            <h2>Manage Profile</h2>

            <div class="form-row">
                <input type="text" id="firstName" name="firstName" placeholder="First Name" value="{{ user['firstName'] }}" required><br><br>
                <input type="text" id="lastName" name="lastName" placeholder="Last Name" value="{{ user['lastName'] }}" required><br><br>
            </div>

            <input type="email" id="email" name="email" placeholder="Email" value="{{ user['email'] }}" readonly><br><br>

            <input type="password" id="password" name="password" placeholder="New Password (optional)"><br><br>
            <input type="password" id="confirmPass" name="confirmPass" placeholder="Confirm New Password (optional)"><br><br>

            <div class="form-actions">
                <button type="submit">Save Changes</button>
                <button type="button" onclick="window.location.reload()">Discard Changes</button>
            </div>

            {% if errorMessage %}
                <h2>{{ errorMessage }}!</h2>
            {% endif %}
        </form>

    </body>