<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='regStyle.css') }}">
</head>
<body>
    <form action="/" method="POST">
        <h2>Sign Up</h2>
        <div class="form-row">
            <input type="text" id="firstName" name="firstName" placeholder="First Name"><br><br>

            <input type="text" id="lastName" name="lastName" placeholder="Last Name" required><br><br>
        </div>
       


        <input type="email" id="email" name="email" placeholder="Email"><br><br>


        <input type="password" id="password" name="password" placeholder="Password"><br><br>


        <input type="password" id="confirmPass" name="confirmPass" placeholder="Confirm Password:"><br><br>

        <input type="submit" value="Register">

        <p>Already registered?</p>
        <form action="{{ url_for('login') }}" method="GET">
            <button type="submit">Go to Login</button>
        </form>

    </form>

    {% if errorMessage %}
        <h2>{{ errorMessage }}!</h2>
    {% endif %}
</body>
</html>
